<!DOCTYPE html>
<html lang="en">
<%- 
    include('partials/seo.ejs', 
    {title: 'Gentile Spark'}) 
%>
<body class="container-fluid px-0 home">
    <%- include('partials/header.ejs') %>
    <h1 class=" mt-5 text-center">Featured</h1>

    <section class="container carousel-container  border">
        <div class="carousel">

        </div>

        <div>
            <%- include('partials/button.ejs') %>
            <%- include('partials/button.ejs') %>
        </div>
    </section>



    <%- include('partials/footer.ejs') %>
</body>
</html>